<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Flex</title>
  </head>

  <body>
    <header></header>
    <main>
      <h1>Next look at this <strong>cool stuff</strong></h1>
      <ul>
        <li>
          <img src="https://dummyimage.com/473x209/000/fff" alt="473x209" />
          <h2>Sed tempus urna et pharetra</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus
            vitae congue mauris rhoncus aenean vel elit scelerisque mauris.
          </p>
        </li>
        <li>
          <img src="https://dummyimage.com/473x209/000/fff" alt="473x209" />
          <h2>Sed tempus urna et pharetra</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus
            vitae congue mauris rhoncus aenean vel elit scelerisque mauris.
          </p>
        </li>
        <li>
          <img src="https://dummyimage.com/473x209/000/fff" alt="473x209" />
          <h2>Sed tempus urna et pharetra</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus
            vitae congue mauris rhoncus aenean vel elit scelerisque mauris.
          </p>
        </li>
        <li>
          <img src="https://dummyimage.com/473x209/000/fff" alt="473x209" />
          <h2>Sed tempus urna et pharetra</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus
            vitae congue mauris rhoncus aenean vel elit scelerisque mauris.
          </p>
        </li>
      </ul>
      <button>See more</button>
    </main>
    <footer></footer>
  </body>
</html>
